label {
    display: flex;
    align-items: center;
}

span::after {
    padding-left: 5px;
}

input:invalid + span::after {
    content: "✖";
}

input:valid + span::after {
    content: "✓";
}

.bodys {
    line-height: 40px;
}

.box {
    background-image: url(Background/Back.png);
    background-repeat: no-repeat;
    background-size: 410px 455px;
    background-position: 0px -2em;
    padding: 20px 20px;
}
